@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: gray;
    color: black
}

#root {
    margin: 0;
    text-align: center;
    
  }

main {
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

a, a:visited, a:hover {
    color: black;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
option,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem !important;
}

button:disabled {
    background-color: #FEE7E7;
    color: black;
}

label {
  margin-top: 1rem;
  text-align: start;
}

button {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #A10707;
  color: white;

  :hover {
    cursor: pointer;
  }
}


#uidnote, #emailnote, #pwdnote, #confirmnote, #phonenote {
  text-align: start;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    margin-left: 7px;
}

.align-start {
    text-align: start;
}

#root > header > section > div > div > a:nth-child(3) {
    display: flex;
}

#root > header > section > div > div > a:nth-child(3) > button {
    background-color: #CF4E4D !important;
    margin: auto;
    width: 75%;

    border-radius: 7px !important;
}