#cups-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    div.cup-notes-cnt {
        display: flex;
        justify-content: space-between;
        width: 75%;

        a {
        margin-top: 5px;
        margin-left: auto;
        display: inline-block;
    }
    }
}

#cups-form {
    width: 75%;
    padding-bottom: 0;

    div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        
        .small-spinner {
            width: 40px;
            object-fit: contain;
            margin-left: 10px;
        }

        label {
            margin: 0;
        }
    }

    input {
        background-color: #E6E6E6;
        border: none;
    }

    

    
}

.navigation-sct-cups {
    width: 75%;
    margin-top: 50px;

    display: flex;
    justify-content: end;

    .continue-btn {
        width: 300px;
        background-color: #CF4E4D;
        border: none;
    }

    .continue-btn:disabled {
        background-color: #F1D8D7;
        color: black;
    }

    .back-btn {
        width: 150px;
        margin-right: 30px;

        border: 2px solid #CF4E4D;
        background-color: white;
        color: #CF4E4D;
    }
}