th.MuiTableCell-body {
    width: 20px;
    background-color: #333333;
    color: white;
}

td {
    width: 100px;
}

#energy-sct > div.MuiTableContainer-root.table-energy.css-rorn0c-MuiTableContainer-root > table > tbody > tr > td > div,
#energy-sct > div.table-buttons > div.MuiTableContainer-root.table-energy.css-rorn0c-MuiTableContainer-root > table > tbody > tr > td > div > div {
    background-color: #E6E6E6;
}

#energy-sct > div.MuiTableContainer-root.table-energy.css-rorn0c-MuiTableContainer-root > table > tbody > tr:nth-child(1) > td:nth-child(2) > div > div {
    background-color: #CCCCCC;
}

#energy-sct > div.MuiTableContainer-root.table-energy.css-rorn0c-MuiTableContainer-root > table > tbody > tr:nth-child(2) > td:nth-child(2) > div > div {
    background-color: #CCCCCC;
}

#energy-sct > div.MuiTableContainer-root.table-energy.css-rorn0c-MuiTableContainer-root > table > tbody > tr:nth-child(3) > td:nth-child(2) > div > div {
    background-color: #CCCCCC;
}


#energy-sct {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 100px 50px;

    h5 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .navigation-sct {
        margin-left: auto;
    }
}

#energy-sct > div.table-buttons {
    max-width: 70%;

    margin-top: 20px;
}