header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    position: absolute;
    width: 100%;

    section.asesor-info {
        display: flex;
        margin-right: 50px;

        img.user-icon {
            width: 50px;
            object-fit: contain;
        }

        h4 {
            margin: auto;
            margin-right: 10px;

        }

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
        }
    }
    img.logo-img {
        width: 300px;
        object-fit: contain;
    }
}

.dropdown {
    button {
        background-color: transparent !important;
        :hover {
            background-color: transparent !important;
        }
    }
} 

@media only screen and (max-width: 768px) {
    section.asesor-info {
        margin-right: 20px; 
    }

    img.logo-img {
        width: 200px;
    }
}


.dropdown {
button {
    background-color: transparent !important;
    :hover {
        background-color: transparent !important;
    }
}
}