section#home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    h1 {
        margin-bottom: 20px;
    }

    article {
        button {
            width: 38%;
            margin-left: 25px;
            font-size: 1.5em;

            background-color: #CF4E4D;
            border: none;
        }

        button:active {
            background-color: #813030;
        }
    }
}